PORT=8000
PUBLIC_URL=http://localhost:8000
JWT_SECRET=CAMBIAR_POR_UNA_CLAVE_LARGA
ADMIN_NAME=Dueña FROSTLAND
ADMIN_EMAIL=TU_EMAIL_ADMIN
ADMIN_PASSWORD=TU_PASSWORD_ADMIN
MP_PUBLIC_KEY=
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
WHATSAPP_NUMBER=
STORE_NAME=FROSTLAND
STORE_ADDRESS=
STORE_LAT=-34.6037
STORE_LNG=-58.3816
FIREBASE_SERVICE_ACCOUNT_JSON=
DATA_DIR=./data

INSTAGRAM_URL=
INSTAGRAM_HANDLE=@frostland
MAPS_URL=
